.big_headline h1 {
font-size: 320%;
font-weight: 900;
color:#212932;
}
.brief h3 {
font-size: 120%;
font-weight: 600;
color:#ffffff;
}
.navbar {
height: 110px;
font-size: 1rem;
font-weight: 700;
color:#ffffff;
background: linear-gradient(to right, white 600px, rgba(22,119,153,1) 0%, rgba(0,143,150,1) 100%);
}
.navbar-brand img {
max-height: 110px;
}
.dark .card {
background: #ffffff;
}
.home-section.wg-about-avatar.dark .home-section-bg .element {
background: 
  radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.5), 
    transparent 100px
  ),
  radial-gradient(
    circle at top right,
    rgba(255, 255, 255, 0.5), 
    transparent 100px
  ),
  radial-gradient(
    at bottom left,
    rgba(255, 0, 255, 0.5), 
    transparent 400px
  ),
  radial-gradient(
    at bottom right,
    rgba(255, 100, 100, 0.5), 
    transparent 400px
  );
}