.bio-text {
  color:#e06653;
}
.big_headline h1 {
font-size: 320%;
font-weight: 900;
color:#212932;
}
.brief h3 {
font-size: 120%;
font-weight: 600;
color:#ffffff;
}
.dark .card {
background: #ffe2ab;
}
.home-section.wg-about-avatar.light .home-section-bg .element {
background-image: 
  radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.5), 
    transparent 100px
  ),
  radial-gradient(
    circle at top right,
    rgba(255, 255, 255, 0.5), 
    transparent 100px
  ),
  radial-gradient(
    at bottom left,
    rgba(255, 0, 255, 0.5), 
    transparent 400px
  ),
  radial-gradient(
    at bottom right,
    rgba(255, 100, 100, 0.5), 
    transparent 400px
  );
}