.big_headline h1 {
font-size: 320%;
font-weight: 900;
color:#212932;
}
.brief h3 {
font-size: 120%;
font-weight: 600;
color:#ffffff;
}
.navbar {
height: 110px;
font-size: 0.85rem;
background: linear-gradient(90deg, rgba(22,119,153,1) 0%, rgba(0,143,150,1) 100%);
}