.big_headline h1 {
font-size: 300%;
}
.brief h3 {
font-size: 120%;
font-weight: 400;
}
.navbar {
height: 110px;
font-size: 0.85rem;
}
.dark .card {
background: #ffffff;
}
.home-section.wg-about-avatar.dark .home-section-bg {
background: 
  radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.5), 
    transparent 100px
  ),
  radial-gradient(
    circle at top right,
    rgba(255, 255, 255, 0.5), 
    transparent 100px
  ),
  radial-gradient(
    at bottom left,
    rgba(255, 0, 255, 0.5), 
    transparent 400px
  ),
  radial-gradient(
    at bottom right,
    rgba(255, 100, 100, 0.5), 
    transparent 400px
  );
}